@model simpproj.ViewModels.AdsForm
@{
    ViewBag.Title = "Form";
}
<h1>@(Model.IsNew? "Create Ad" : "Update Ad")</h1>

<div class="container">
<!-- Specify action name and controller name otherwise form begins to post to itself -->
@using (Html.BeginForm("Form", "Ads"))
{
    // If the post in question is not a new one, a parameter representing the current post id is declared
    // For the purpose of updating the current post.
    if(!Model.IsNew)
    {
        @Html.HiddenFor(f => f.AdId)
    }

    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-8">
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(f => f.Title)
                @Html.TextBoxFor(f => f.Title, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(f => f.Slug)
                @Html.TextBoxFor(f => f.Slug, new { @class = "form-control", data_slug= "#Title" })
            </div>

            <div class="form-group">
                @Html.LabelFor(f => f.Type)
                @Html.TextBoxFor(f => f.Type, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(f => f.Model)
                @Html.TextBoxFor(f => f.Model, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(f => f.Price)
                @Html.TextBoxFor(f => f.Price, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(f => f.Location)
                @Html.TextBoxFor(f => f.Location, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(f => f.RegistrationYear)
                @Html.TextBoxFor(f => f.RegistrationYear, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(f => f.Colour)
                @Html.TextBoxFor(f => f.Colour, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Post Actions
                </div>

                <div class="panel-body">
                    <input type="submit" value="@(Model.IsNew ? "Publish Ad" : "Update Ad")" class="btn btn-success btn-sm" />
                    <a href="@Url.Action("Index")">Or cancel</a>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading"></div>
                <div class="panel-body post-tag-editor">
                    <label for="new-tag-name">New Tag:</label>
                    <div class="input-group">
                        <input id="new-tag-name" type="text" class="new-tag-name form-control" />
                        <span class="input-group-btn">
                            <button disabled class="btn btn-primary add-tag-button">Add</button>
                        </span>
                    </div>

                    <ul class="tag-select">
                        <li class="template">
                            <a href="#" class="name"></a>
                            
                            <input type="hidden" class="name-input" />
                            <input type="hidden" class="selected-input" />
                        </li>

                        @for (var i = 0; i < Model.Categories.Count; i++)
                        {
                            var tag = Model.Categories[i];

                            <li data-tag-id="@tag.Id" class="@(tag.IsChecked ? "selected" : "")">
                                <a href="#">@tag.Name</a>

                                <input type="hidden" name="Categories[@(i)].Id" value="@tag.Id" />
                                <input type="hidden" name="Categories[@(i)].Name" value="@tag.Name" />
                                <input type="hidden" name="Categories[@(i)].IsChecked" value="@tag.IsChecked.ToString()" class="selected-input" />
                            </li>
                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>
}
</div>