<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ads</title>
    @Styles.Render("~/bundles/bootstrap")
    <!--
    @Styles.Render("~/Content/css/Pinegrow")
    @Styles.Render("~/styles/admin")
    -->
    @Styles.Render("~/styles/site")
    @Scripts.Render("~/bundles/modernizer")
</head>
<body>
    
    
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.RouteUrl("home")">Ads</a>
            </div>
            <div id="navbar1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="#">Hey @User.Identity.Name</a></li>
                        <li><a href="@Url.RouteUrl("logout")">Logout</a></li>

                        if (User.IsInRole("admin"))
                        {
                           <li><a href="@Url.Action("index", "Posts", new { area="admin"})">Go to Admin Area</a></li>
                        }
                    }

                    else
                    {
                        <li><a href="@Url.RouteUrl("login")">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav> -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.RouteUrl("home")">Ads</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="#">Hey @User.Identity.Name</a></li>
                        <li><a href="@Url.RouteUrl("logout")">Logout</a></li>

                        if (User.IsInRole("admin"))
                        {
                            <li><a href="@Url.Action("index", "Posts", new { area="admin"})">Go to Admin Area</a></li>
                        }
                    }

                    else
                    {
                        <li><a href="@Url.RouteUrl("login")">Login</a></li>
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CarAds</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <!-- @Scripts.Render("~/Scripts/js/Pinegrow")
    @Scripts.Render("~/scripts/admin") -->
    @Scripts.Render("~/scripts")
</body>
</html>